ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E55812;
}

li {
  float: left;
  color: #002626;
}

li a {
  display: block;
  color: #002626;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
} 
.active {
  background-color: rgba(11, 37, 69, 1);
}
a:active {
  background-color: #002626;
}
a:hover {
  background-color: #95C623;
}
.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E55812;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  --margin-right: 2rem;
}

body {
  background: #95C623;
}
.container {
    font-size: 40px;
    min-height: 100%;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #95C623;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 25px;
  }
  p {
    display: flex;
    font-size: 16px;
    max-width: 900px;
  }
  .section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    min-height: auto;
    width: auto;
    background: #E55812;  
    color: #002626;
}


  .welcome {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 50vh;
    width: auto;
    background-color: #95C623; 
    color: #002626;
    font-family: 'Indie Flower', cursive;
}

  .project-tile{background:rgba(11, 37, 69, 1);}
  .project-tile1{background:rgba(11, 37, 69, 1);}
  .project-tile2{background:rgba(11, 37, 69, 1);}
  .project-tile3 {background:rgba(11, 37, 69, 1);}
  .project-tile4{background:rgba(11, 37, 69, 1);}
  .project-tile5{background:rgba(11, 37, 69, 1);}

.contact-form {
  margin-bottom: 30px;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #E55812;
  min-height: 50px;
  line-height: 50px;
}

.footer a {
  color: #002626;
  text-decoration: none;
}

.footer a:hover {
  background-color: #E55812;
}

.image {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
}

 @media (max-width: 350px) {
}

.heading {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.typo {
	color: white;
	cursor: default;
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-size: 7vmax;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
	outline: none;
	padding: 0 10% 1.2% 10%;
	text-align: center;
	text-transform: uppercase;
	transition: color $anim; // To work with JS
}

